/** Index*/
* {
  box-sizing: border-box;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
body{
  background-color: bisque;
  
}
p{
  color: blueviolet;
}
  #formacion_educativa{
    font-family: 'Roboto', sans-serif;;
    color: black;
  } 
  #experiencia_laboral{
    font-family: 'Roboto', sans-serif;
    color: black;
  }
  #nombre{
    background-color: white;
    font-family: 'Roboto', sans-serif;;
    color: black;
  }
  #Datos_personales{
    display: inline-block;
    display
    margin: auto;
    width: 30%;
    background-color: aliceblue;
  }
  #Imagen_cv{
    z-index: 100;
   left: 0;
   top: 0;
  }
  #Pie_de_pagina{
    margin: 0px;
    border: 0px;
    background-color: aliceblue;
    text-align: center;
    padding: 0px;
  }
  #imagen_instagram{
    
    
  }
  #Caracteristicas{
    display: inline-block;
    display
    margin: auto;
    width: 30%;
    background-color: aliceblue;
  }
  #contenedor{
    background-color: aliceblue;
    height: 800px;
    width: 800px;
    position: relative;
  }