/** Index*/
* {
  box-sizing: border-box;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
body{
  background-color: bisque;
  
}
p{
  color: blueviolet;
}
  #formacion_educativa{
    font-family: 'Roboto', sans-serif;;
    color: black;
  } 
  #experiencia_laboral{
    font-family: 'Roboto', sans-serif;
    color: black;
  }
  #nombre{
    background-color: white;
    font-family: 'Roboto', sans-serif;;
    color: black;
  }
  #Datos_personales{
    margin: auto;
    width: 30%;
    
    background-color: aliceblue;
  }
  #Imagen_cv{
    background-color: white;
    padding: 0px;
    border:0px;
    margin-left: 10px;
  }